NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=your_api_key_here
OPENAI_TEXT_MODEL=your_text_model_here
OPENAI_IMAGE_MODEL=your_image_model_here
NEXT_PUBLIC_MOCK_MODE=true
NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
